form{
	margin:20px;
	}
input{
	display:block;
	}
#info{
	margin-left:70px;
	display:inline-block;
	vertical-align:top;
	}
#contact_info{
	display:inline-block;
	vertical-align: top;
	margin-left:25px;
	margin-top:50px;
	}
		
#contact_info td{
	margin:50px;
	padding:10px;
	}
#contact_info th{
	width:200px;
	padding:10px;
	}